<div class="page-header">
  <h3>Food #<%= @food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @food.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/foods" class="btn btn-primary">
        Back
      </a>
      <a href="/foods/<%= @food.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food/<%= @food.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Food has many ingredients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ingredients
      </li>

      <% @food.ingredients.each do |ingredient| %>
        <li class="list-group-item">
          <a href="/ingredients/<%= ingredient.id %>">
            <%= ingredient.food_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ingredients/<%= ingredient.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ingredients/<%= ingredient.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ingredient/<%= ingredient.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_ingredient" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <input type="hidden" name="food_id" value="<%= @food.id %>">

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>

        <%= select_tag(:recipe_id, options_from_collection_for_select(Recipe.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Ingredient
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food has many pantry_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pantry Items
      </li>

      <% @food.pantry_items.each do |pantry_item| %>
        <li class="list-group-item">
          <a href="/pantry_items/<%= pantry_item.id %>">
            <%= pantry_item.food_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pantry_items/<%= pantry_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pantry_items/<%= pantry_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pantry_item/<%= pantry_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_pantry_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <input type="hidden" name="food_id" value="<%= @food.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for quantity -->
      <div class="form-group">
        <label for="quantity" class="control-label">
          Quantity
        </label>

        <input type="text" id="quantity" name="quantity" placeholder="Quantity" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Pantry Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @food.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Food has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @food.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
